@page "/games"
@using NFL.Shared.ModelsDTO
@inject HttpClient Http
@inject IWeekService weekService
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "User , Admin")]

@if (Weeks != null)
{
    <h3>Juegos Semana @actualWeek.WeekNumber</h3>

    <select @onchange="changes">
        <option Value="@set">Seleccione una opcion</option>
        @foreach (var item in Weeks)
        {
            <option Value="@item.Id">@item.WeekName</option>
        }
    </select>


    @if (Games != null)
    {
        var dateLast = new DateTime();
        foreach (var item in Games)
        {
            var date = item.Date;
            if (dateLast != date)
            {
                <hr />
                <h2 class="d3-o-section-title">@item.Date.Value.ToLongDateString()</h2>
                <hr />
            }
            <div class="d-flex">
                <TeamCard team="@item.VisitorNavigation" itsOver="true" score="@item.VisitorScore.Value"></TeamCard>
                <span class="m-2">vs</span>
                <TeamCard team="@item.LocalNavigation" itsLocal="true" itsOver="true" score="@item.LocalScore.Value"></TeamCard>
            </div>
            dateLast = date.Value;
        }
    }

}
else
{
    <h3>Loading...</h3>

}


@code {
    [Parameter]
    public int id { get; set; }
    public List<GameDTO> Games;
    public List<WeekDTO> Weeks;
    public WeekDTO actualWeek;
    int set = 0;
    protected async override Task OnInitializedAsync()
    {
        await GetWeecks();
        actualWeek = Weeks.FirstOrDefault(x => x.Status == 1 || x.Status == 2);
        if (actualWeek == null) actualWeek = Weeks.LastOrDefault(x => x.Status == 3);
        await GetGames(actualWeek.Id);
    }

    private async Task GetWeecks()
    {
        var res = await weekService.GetAllAsync();
        if (res != null)
        {
            Weeks = res.ToList();
        }
    }

    private async Task GetGames(int id)
    {
        var res = await Http.GetFromJsonAsync<WeekDTO>($"/api/Weeks/{id}");
        if (res is not null)
        {
            Games = res.Games.OrderBy(x => x.Date).ToList();
            actualWeek = res;
        }
    }

    private async Task changes(ChangeEventArgs e)
    {
        var id = int.Parse(e.Value.ToString());
        if(id != 0)await GetGames(id);
    }

}
<style>

    .d3-o-section-title {
        border-bottom: none;
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 6px;
        margin-top: 6px;
        margin-left: 15px;
    }
</style>