@page "/"
@using Radzen
@using NFL.Client.Helpers
@inject StateContainer StateMan
@inject HttpClient _HttpClient
@inject AuthenticationStateProvider auth
@inject IWeekService weekService
@inject IForecastService forecastService

<AuthorizeView>
    <NotAuthorized>
        <h1>Bienvenido!</h1>
        Inicia sesion para continuar.
    </NotAuthorized>
    <Authorized>
        @if (weekinprogress > 0)
        {
            @if (weekinprogress == 1)
            {
                <h5>
                    Registro Abierto Semana #@week.WeekNumber
                </h5>
                <a href="/tabla" style="font-size:14px">ver tabla</a>
                <hr />
                @if (spools != null)
                {
                    <div>
                        <h6>Participantes registrados @spools.Participants</h6>
                        <h6>Monto acumulado: $@spools.Amount</h6>
                    </div>
                    <hr />
                    <RadzenCard>
                        <h4>Juegos de la semana</h4>
                        @{
                            var dateLast = new DateTime();
                            @foreach (var item in week.Games.OrderBy(x => x.Date))
                            {
                                var date = item.Date;
                                if (dateLast != date)
                                {
                                    <hr />
                                    <h6 class="d3-o-section-title">@item.Date.Value.ToLongDateString()</h6>
                                    <hr />
                                }
                                <div class="d-flex">
                                    <TeamCard team="@item.VisitorNavigation" itsOver="true" score="@item.VisitorScore.Value"></TeamCard>
                                    <span class="m-2">vs</span>
                                    <TeamCard team="@item.LocalNavigation" itsLocal="true" itsOver="true" score="@item.LocalScore.Value"></TeamCard>
                                </div>
                                dateLast = date.Value;

                            }
                        }
                    </RadzenCard>

                }
            }
            else if (weekinprogress == 2)
            {
                @if (forecasts != null)
                {
                    <hr />
                    <h4>Detalles de la Semana</h4>
                    <hr />
                    <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
                        <RadzenCard class="radz">
                            <h4 style="text-align: center">
                                Semana:
                            </h4>
                            <h5 style="text-align: center">
                                #@week.WeekNumber
                            </h5>
                        </RadzenCard>
                        <RadzenCard class="radz">
                            <h4 style="text-align: center">
                                Participantes:
                            </h4>
                            <h5 style="text-align: center">
                                @spools.Participants
                            </h5>
                        </RadzenCard>
                        <RadzenCard class="radz">
                            <h4 style="text-align: center">
                                Acumulado:
                            </h4>
                            <h5 style="text-align: center">
                                $@spools.Amount
                            </h5>

                        </RadzenCard>
                    </div>
                    <hr />
                    <div style="display: flex; justify-content: space-between;">
                        <h4>Competidores</h4>
                    </div>
                    <hr />
                    @foreach (var item in forecasts.OrderByDescending(x => x.Hits))
                    {
                        <RadzenCard style="background-color: #F0EFEF;  margin-bottom: 10px;">
                            <h3 style ="font-weight: bold">@item.IdUserNavigation.Fullname </h3>
                            <h4>Aciertos: @item.Hits</h4>
                            <div class="contentflex">
                                @foreach (var team in item.ForecastDetails)
                                {
                                    string gray = "winer";
                                    string err = "absNo";
                                    if (team.IsCorrect == 0 && team.Set == 1)
                                    {
                                        err = "absSi";
                                        gray = "img-gray";
                                    }
                                    if (team.IsCorrect == 0 && team.Set == 0)
                                    {
                                        err = "absNo";
                                        gray = "img-sepia";
                                    }
                                    <div class="imgContent">
                                        <img class="@gray" style="margin-right:5px;" src="@team.WinNavigation.ImageUrl" />
                                        <img class="@err" style="width: 25px; height:25px;" src="/img/x.png">
                                    </div>
                                }
                            </div>
                        </RadzenCard>
                    }

                }
            }
            else
            {
                if (spools != null)
                {
                    <div class="title">
                        <h5>Semana #@week.WeekNumber Finalizada</h5>
                    </div>
                    <hr />
                    <h6>Resultados</h6>
                    <h6>Participantes registrados @spools.Participants</h6>
                    <h6>Monto acumulado: $@spools.Amount</h6>
                    <hr />
                    <h6>Ganadores</h6>
                    @foreach (var item in spools.SpoolWinners)
                    {
                        var firecast = forecasts.FirstOrDefault(x => x.Idforecast == item.IdForecast);
                        <RadzenCard style="background-color: #F0EFEF;  margin-bottom: 10px;">
                            <h3>@item.IdUserNavigation.Fullname </h3>
                            <div class="flex-column">
                                <span class="result">Aciertos: @firecast.Hits</span>
                                <span class="result">Premio: $@item.Amount</span>
                            </div>
                            <div class="contentflex">
                                @foreach (var team in firecast.ForecastDetails)
                                {
                                    string gray = "winer";
                                    string err = "absNo";
                                    if (team.IsCorrect == 0 && team.Set == 1)
                                    {
                                        err = "absSi";
                                        gray = "img-gray";
                                    }
                                    if (team.IsCorrect == 0 && team.Set == 0)
                                    {
                                        err = "absNo";
                                        gray = "img-sepia";
                                    }
                                    <div class="imgContent">
                                        <img class="@gray" style="margin-right:5px;" src="@team.WinNavigation.ImageUrl" />
                                        <img class="@err" style="width: 25px; height:25px;" src="/img/x.png">
                                    </div>
                                }
                            </div>
                        </RadzenCard>
                    }

                }
            }
        }
        else
        {
            <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="margin-bottom: 20px;" />
        }
    </Authorized>
</AuthorizeView>


@code {
    public Games games { get; set; }
    public WeekDTO week { get; set; }
    public SpoolDTO spools { get; set; }
    public List<ForecastDTO> forecasts { get; set; }

    int weekinprogress = 0;

    protected override async Task OnInitializedAsync()
    {
        StateMan.UpdateStateAsync += update;
        await Refresh();
    }

    public async ValueTask DisposeAsync()
    {
        StateMan.UpdateStateAsync -= StateHasChanged;
    }

    private void update()
    {
        Task.Run(async () => { await Refresh(); });
        StateHasChanged();
    }

    private async Task Refresh()
    {
        var authstate = await auth.GetAuthenticationStateAsync();
        var user = authstate.User;
        if (user.Identity.IsAuthenticated) await GetWeek(); 
    }

    private async Task GetWeek()
    {
        var resp = await _HttpClient.GetFromJsonAsync<WeekDTO>("/api/Weeks/current");
        if (resp != null)
        {
            week = resp;
            weekinprogress = week.Status.Value;
            await GetSpools();
            await GetForecast();
            StateHasChanged();
        }
    }

    private async Task GetSpools()
    {
        var resp = await _HttpClient.GetFromJsonAsync<SpoolDTO>($"api/spool/{week.WeekNumber}");
        spools = resp;
    }

    private async Task GetForecast()
    {
        var fores = await forecastService.GetAllForecastAsync(week.Id);
        forecasts = fores.Data.ToList();
    }

}

<style>
    .contentflex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .absNo {
        visibility: hidden;
    }

    .absSi {
        position: absolute;
        top: 0;
        left: 0;
       
    }

    .imgContent {
        width: 25px;
        height: 25px;
        position: relative;
    }

    .result {
        width: 50%;
        font-weight: bold;
    }

    .title {
        display: grid;
        justify-content: center;
    }

    .img-gray {
        filter: grayscale(1);
        width: 25px;
        position: absolute;
        left: 0;
        top: 0;
    }

    .img-sepia {
        filter: sepia(1) opacity(.3);
        width: 25px;
        position: absolute;
        left: 0;
        top: 0;
    }

    .winer {
        width: 25px;
        position: absolute;
        left: 0;
        top: 0;
    }

    .radz {
        padding-left: .5rem !important;
        padding-right: .5rem !important;
        width: 150px;
        margin-bottom: 15px;
        background-color: #152968;
        color: white;
    }
</style>